<div id="login" class="panel panel-primary">
  <div class="panel-heading" style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
    <h1><i class="fa fa-graduation-cap fa-fw"></i> Shifter</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <% unless notice.nil? %>
            <div class="alert alert-success alert-dismissable" id="error_explanation">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <%= notice %>
            </div>
        <% end %>
        <% if @error %>
            <div class="alert alert-danger" id="error_explanation">
              Algún dato es inválido
            </div>
        <% end %>
        <h3>
          Iniciar Sesión
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <%= form_tag sessions_path do %>
            <div class="form-group field" style="text-align: left;">
              <%= label_tag :email %><br>
              <%= text_field_tag :email, nil, class: 'form-control' %>
            </div>
            <div class="form-group field" style="text-align: left;">
              <%= label_tag :password %>
              <%= password_field_tag :password, nil, class: 'form-control' %>
            </div>
            <div class="actions" style="text-align: right">
              <%= submit_tag 'Ingresar', class: 'btn btn-success' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>