<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless notice.nil? %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <% unless alert.nil? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
    <h1 class="page-header">Asignaciones de Profesores</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-8">
    <%= form_for(Period.new) do |f| %>
        <div class="form-group field col-lg-6">
          <label for="subject_id">Materia</label><br>
          <select name="subject_id" id="subject_id" class="form-control" onchange="populate()">
            <% @subjects.each do |subject| %>
                <option value="<%=subject.id%>"><%=subject.name%></option>
            <% end %>
          </select>
        </div>
        <div class="form-group field col-lg-6">
          <label for="professors_id">Profesor</label>
          <select multiple="" name="professors_id" id="professors_id" class="form-control" onchange="updateJson()" style="height: 200px">
            <% @professors.each do |professor| %>
                <option value="<%=professor.id%>"><%=professor.name%> <%=professor.surname%></option>
            <% end %>
          </select>
        </div>
        <input type="text" name="json" id="json" hidden>
        <div class="actions" style="text-align: right">
          <button type="submit" name="commit" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Asignar Materia</button>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  populate();
  function populate() {
    var options = document.getElementById("professors_id").options;
    for (var i = 0; i < options.length; i++) {
      options[i].selected = false;
    }
    var subjectId = document.getElementById("subject_id").value;
    <% @subjects.each do |subject| %>
      if (subjectId == <%=subject.id%>) {
        <% subject.periods[0].professors.each do |professor| %>
          for (var j = 0; j < options.length; j++) {
            var option = options[j];
            if (option.value == <%=professor.id%>) option.selected = true;
          }
        <% end %>
      }
    <% end %>
  }

  function updateJson() {
    var options = document.getElementById("professors_id").options;
    var json = "";
    for (var i = 0; i < options.length; i++) {
      var option = options[i];
      if (option.selected) json = json == "" ? option.value : json + "," + option.value;
    }
    document.getElementById("json").value = json;
  }
</script>