<div class="row">
  <div class="col-lg-6">
    <%= form_for(@career) do |f| %>
        <div class="form-group field">
          <%= f.label :name, 'Nombre' %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group field">
          <label for="years">Años de cursada</label><br>
          <input type="number" class="form-control" name="years" id="years" value="<%= @career.years.size %>">
        </div>
        <div class="actions" style="text-align: right">
          <%= f.submit 'Guardar', class: 'btn btn-success' %>
        </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById("career_name").focus();
</script>