<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-lg-12">
    <% if @error %>
        <div class="alert alert-danger alert-dismissable" id="error_explanation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          Uno o más campos contienen errores
        </div>
    <% end %>
    <h1 class="page-header">
      <a href="/careers" type="button" class="btn btn-default" style="display: inline-block; margin-right: 2em;">
        <i class="fa fa-chevron-left fa-fw"></i> Volver
      </a>
      Horarios: <%= @career.name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form action="/careers">
      <% @years.each do |y| %>
      <div class="panel panel-primary">
        <div class="panel-heading"><%= y.n %>º Año</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-2" style="text-align: right">
              Desde las
            </div>
            <div class="col-lg-1">
              <div class="form-group">
                <select class="form-control" id="<%= y.n %>_hi" onchange="updateJson()">
                  <% i = 7 %>
                  <% while i < 24 do %>
                      <% h = i < 10 ? '0'+i.to_s : i %>
                      <option value="<%=h%>"><%=h%></option>
                      <% i = i+1 %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-lg-1">
              <div class="form-group">
                <select class="form-control" id="<%= y.n %>_mi" onchange="updateJson()">
                  <% for j in 0..3 do %>
                      <% m = j == 0 ? '00' : j*15 %>
                      <option value="<%=m%>"><%=m%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-lg-1">
              hs.
            </div>
            <div class="col-lg-2" style="text-align: right">
              Hasta las
            </div>
            <div class="col-lg-1">
              <div class="form-group">
                <select class="form-control" id="<%= y.n %>_hf" onchange="updateJson()">
                  <% i = 7 %>
                  <% while i < 24 do %>
                      <% h = i < 10 ? '0'+i.to_s : i %>
                      <% if i == 23 %>
                          <option value="<%=h%>" selected><%=h%></option>
                      <% else %>
                          <option value="<%=h%>"><%=h%></option>
                      <% end %>
                      <% i = i+1 %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-lg-1">
              <div class="form-group">
                <select class="form-control" id="<%= y.n %>_mf" onchange="updateJson()">
                  <% for j in 0..3 do %>
                      <% m = j == 0 ? '00' : j*15 %>
                      <option value="<%=m%>"><%=m%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-lg-1">
              hs.
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <input type="text" name="json" id="json" hidden>
      <input type="text" name="id" id="id" value="<%= @career.id %>" hidden>
      <div class="col-lg-12 new-btn">
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </form>
  </div>
</div>

<script>
  populate();
  updateJson();
  function populate() {
    <% @career.years.each do |y| %>
    <% unless y.shifts.empty? %>
      <% s = y.shifts[0] %>
        var yearN = "<%= y.n %>";
        var initialHour = <%= s.initial_hour %>;
        var hi = (initialHour < 10 ? "0" : "") + initialHour;
        var initialMinute = <%= s.initial_minute %>;
        var mi = initialMinute == 0 ? "00" : initialMinute;
        var finalHour = <%= s.final_hour %>;
        var hf = (finalHour < 10 ? "0" : "") + finalHour;
        var finalMinute = <%= s.final_minute %>;
        var mf = finalMinute == 0 ? "00" : finalMinute;
        document.getElementById(yearN + '_hi').value = hi;
        document.getElementById(yearN + '_mi').value = mi;
        document.getElementById(yearN + '_hf').value = hf;
        document.getElementById(yearN + '_mf').value = mf;
      <% end %>
    <% end %>
  }

  function updateJson() {
    var json = "";
    var n = 1;
    while (n < <%=@career.years.size+1%>) {
      json += (json == "" ? "" : ",") + n + ":"
          + document.getElementById(n + "_hi").value
          + document.getElementById(n + "_mi").value
          + document.getElementById(n + "_hf").value
          + document.getElementById(n + "_mf").value;
      n++;
    }
    document.getElementById("json").value = json;
  }
</script>