<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% if @error %>
        <div class="alert alert-danger" id="error_explanation">
          Uno o más campos contienen errores
          <% if @career.errors.any? %>
              <ul>
                <% @career.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
          <% end %>
        </div>
    <% end %>
    <% unless notice.nil? %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <% unless alert.nil? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
    <h1 class="page-header">
      <a href="/careers" type="button" class="btn btn-default" style="display: inline-block; margin-right: 2em;">
        <i class="fa fa-chevron-left fa-fw"></i> Volver
      </a>
      <%= @career.name %>
    </h1>
  </div>
</div>

<%= render 'form' %>