<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless notice.nil? %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= notice %>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= alert %>
      </div>
    <% end %>
    <h1 class="page-header">Carreras</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="col-lg-12 new-btn">
        <a href="/careers/new" type="button" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Nueva Carrera</a>
      </div>
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Años de cursada</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @careers.each do |career| %>
            <tr class="odd gradeX">
              <td><%= career.name %></td>
              <td><%= career.years.size %></td>
              <td>
                <a href="careers/<%=career.id%>/edit"><i class="fa fa-pencil-square-o fa-fw"></i> Editar</a>
                <a href="careers/<%=career.id%>/custom"><i class="fa fa-calendar fa-fw"></i> Horarios</a>
                <a rel="nofollow" data-method="delete" href="/careers/<%=career.id%>"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<script>
  $(document).ready(function() {
    $('#dataTables-example').DataTable({
      responsive: true
    });
  });
</script>