<div class="row">
  <div class="col-lg-6">
    <%= form_for(@professor) do |f| %>
        <div class="form-group field col-lg-6" style="padding-left: 0">
          <%= f.label :name, 'Nombre' %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group field col-lg-6" style="padding: 0">
          <%= f.label :surname, 'Apellido' %><br>
          <%= f.text_field :surname, class: 'form-control' %>
        </div>
        <div class="form-group field">
          <%= f.label :n, 'Legajo' %><br>
          <%= f.number_field :n, class: 'form-control' %>
        </div>
        <div class="actions" style="text-align: right">
          <%= f.submit 'Guardar', class: 'btn btn-success' %>
        </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById("professor_name").focus();
</script>