<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-lg-12">
    <% if @error %>
        <div class="alert alert-danger alert-dismissable" id="error_explanation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          Uno o más campos contienen errores
        </div>
    <% end %>
    <h1 class="page-header">
      <a href="/professors" type="button" class="btn btn-default" style="display: inline-block; margin-right: 2em;">
        <i class="fa fa-chevron-left fa-fw"></i> Volver
      </a>
      Horarios: <%= @professor.name + ' ' + @professor.surname %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form action="/professors">
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="Todos" value="Todos" onchange="selectAllDays()">
            <strong>Todos</strong>
          </label>
        </div>
      </div>
      <% $week.each do |d| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="<%= d.name %>" value="<%= d.name %>" onchange="updateJson('<%=d.name%>')"><%= d.name %>
            </label>
          </div>
          <div class="panel panel-primary" id="<%= d.name %>_input" hidden>
            <div class="panel-heading"><%= d.name %></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-2" style="text-align: right">
                  Desde las
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <select class="form-control" id="<%= d.name %>_hi" onchange="updateJson()">
                      <% i = 7 %>
                      <% while i < 24 do %>
                          <% h = i < 10 ? '0'+i.to_s : i %>
                          <option value="<%=h%>"><%=h%></option>
                          <% i = i+1 %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <select class="form-control" id="<%= d.name %>_mi" onchange="updateJson()">
                      <% for j in 0..3 do %>
                          <% m = j == 0 ? '00' : j*15 %>
                          <option value="<%=m%>"><%=m%></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1">
                  hs.
                </div>
                <div class="col-lg-2" style="text-align: right">
                  Hasta las
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <select class="form-control" id="<%= d.name %>_hf" onchange="updateJson()">
                      <% i = 7 %>
                      <% while i < 24 do %>
                          <% h = i < 10 ? '0'+i.to_s : i %>
                          <% if i == 23 %>
                              <option value="<%=h%>" selected><%=h%></option>
                          <% else %>
                              <option value="<%=i%>"><%=i%></option>
                          <% end %>
                          <% i = i+1 %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <select class="form-control" id="<%= d.name %>_mf" onchange="updateJson()">
                      <% for j in 0..3 do %>
                          <% m = j == 0 ? '00' : j*15 %>
                          <option value="<%=m%>"><%=m%></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1">
                  hs.
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <input type="text" name="json" id="json" hidden>
      <input type="text" name="id" id="id" value="<%= @professor.id %>" hidden>
      <div class="col-lg-12 new-btn">
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </form>
  </div>
</div>

<script>
  populate();
  function populate() {
    <% @professor.shifts.each do |s| %>
      var dayName = "<%= s.day.name %>";
      var initialHour = <%= s.initial_hour %>;
      var hi = (initialHour < 10 ? "0" : "") + initialHour;
      var initialMinute = <%= s.initial_minute %>;
      var mi = initialMinute == 0 ? "00" : initialMinute;
      var finalHour = <%= s.final_hour %>;
      var hf = (finalHour < 10 ? "0" : "") + finalHour;
      var finalMinute = <%= s.final_minute %>;
      var mf = finalMinute == 0 ? "00" : finalMinute;
      document.getElementById(dayName).checked = true;
      updateJson(dayName);
      document.getElementById(dayName + '_hi').value = hi;
      document.getElementById(dayName + '_mi').value = mi;
      document.getElementById(dayName + '_hf').value = hf;
      document.getElementById(dayName + '_mf').value = mf;
    <% end %>
  }

  function updateJson(dayName) {
    var json = "";
    var days = [];
    <% $week.each do |day| %>
      days.push(<%= day.name %>);
    <% end %>
    if (dayName != null) selectDay(dayName);
    for (var i=0; i<days.length; i++) {
      var day = days[i].id;
      var dayChecked = document.getElementById(day).checked;
      if (dayChecked) {
        json += (json == "" ? "" : ",") + day + ":"
            + document.getElementById(day + "_hi").value
            + document.getElementById(day + "_mi").value
            + document.getElementById(day + "_hf").value
            + document.getElementById(day + "_mf").value;
      }
    }
    document.getElementById("json").value = json;
  }
</script>