<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless notice.nil? %>
        <div class="alert alert-success alert-dismissable" id="error_explanation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <% unless alert.nil? %>
        <div class="alert alert-danger alert-dismissable" id="error_explanation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
    <h1 class="page-header">Profesores</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="panel-body">
        <div class="col-lg-12 new-btn">
          <a href="/professors/new" type="button" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Nuevo Profesor</a>
        </div>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
          <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
            <% @professors.each do |professor| %>
              <tr class="odd gradeX">
                <td><%= professor.n %></td>
                <td><%= professor.name %></td>
                <td><%= professor.surname %></td>
                <td>
                  <a href="professors/<%=professor.id%>/edit"><i class="fa fa-pencil-square-o fa-fw"></i> Editar</a>
                  <a href="professors/<%=professor.id%>/custom"><i class="fa fa-calendar fa-fw"></i> Horarios</a>
                  <a rel="nofollow" data-method="delete" href="/professors/<%=professor.id%>"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<script>
  $(document).ready(function() {
    $('#dataTables-example').DataTable({
      responsive: true
    });
  });
</script>