<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless notice.nil? %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <% unless alert.nil? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
    <h1 class="page-header">Mis Horarios</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="col-lg-12 new-btn">
        <a href="/lessons/new" type="button" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Nuevo Horario</a>
      </div>
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
          <th>#</th>
          <th>Información</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @calendars.each do |calendar| %>
            <tr class="odd gradeX">
              <td><%= calendar.n %></td>
              <% lessons = calendar.lessons
                 subject = lessons.empty? ? nil : lessons[0].subject
                 info = subject.nil? ? '' : subject.career.name + ', ' + subject.year.to_s + 'º Año, ' + subject.quarter.to_s + 'º Cuatrimestre' %>
              <td><%= info %></td>
              <td>
                <% if calendar.active? %>
                  <i class="fa fa-toggle-on fa-fw"></i>
                <% else %>
                  <i class="fa fa-toggle-off fa-fw"></i>
                <% end %>
              </td>
              <td>
                <a href="calendars/<%=calendar.id%>/edit"><i class="fa fa-calendar fa-fw"></i> Abrir</a>
                <a rel="nofollow" data-method="delete" href="/calendars/<%=calendar.id%>"><i class="fa fa-trash fa-fw"></i> Descartar</a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#dataTables-example').DataTable({
      responsive: true
    });
  });
</script>