<script>
  <% if @reload %>
    window.location = window.location.href.split("?")[0];
  <% end %>
</script>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://www.igniteui.com/js/external/FileSaver.js"></script>
<script src="http://www.igniteui.com/js/external/Blob.js"></script>
<script src="http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/infragistics.loader.js"></script>

<% hours = @range[1] - @range[0] %>
<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless @notice.nil? %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= @notice %>
        </div>
    <% end %>
    <% unless @alert.nil? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= @alert %>
        </div>
    <% end %>
    <h1 class="page-header">
      <% if !@new %>
          <a href="/calendars" type="button" class="btn btn-default" style="display: inline-block; margin-right: 2em;">
            <i class="fa fa-chevron-left fa-fw"></i> Volver
          </a>
      <% end %>
      Horario <%= @calendar.n %>
      <% if !@new %>-
          <% if @calendar.active %>
              <strong class="text-success">ACTIVO</strong>
          <% else %>
              <strong class="text-danger">INACTIVO</strong>
          <% end %>
      <% end %>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="table-responsive">
        <%= form_for(@calendar) do |f| %>
          <div class="col-lg-12 new-btn" style="margin-bottom: 30px;">

          <% unless @new %>
                <% if @calendar.active %>
                      <button type="submit" name="commit" class="btn btn-primary" onclick="process()"><i class="fa fa-toggle-on fa-fw"></i> Desctivar Horario</button>
                <% else %>
                      <button type="submit" name="commit" class="btn btn-primary" onclick="process()"><i class="fa fa-toggle-off fa-fw"></i> Activar Horario</button>
                <% end %>
          <% else %>
              <a href="/calendars" type="button" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Guardar Horario</a>
          <% end %>
          <a rel="nofollow" data-method="delete" href="/calendars/<%=@calendar.id%>" type="button" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i> Descartar Horario</a>
        </div>
        <% end %>
        <div id="table-div">
        <table id="calendar" class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <% $week.each do |day| %>
                <th><%= day.name %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% for i in 0..hours-1 %>
              <% for j in 0..3 %>
                  <% h_i = @range[0] %>
                  <% h = h_i + i %>
                  <% m = j * 15 %>
                  <% t = (h * 1000) + m %>
                  <% m_s = m == 0 ? '00' : m.to_s %>
                  <tr style="font-size: 14px; text-align: center">
                    <td class="time" style="padding: 0 10px; text-align: center"><%= (h).to_s + ':' + m_s %></td>
                    <% $week.each do |day| %>
                        <% name = day.id.to_s+':'+t.to_s %>
                        <% id = day.id.to_s+':'+((i*4)+j).to_s %>
                        <td id="<%=id%>" name="<%=name%>" style="padding: 0 10px"></td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
          <tr>
            <td class="time" style="padding: 0 10px; text-align: center"><%= @range[1].to_s + ':00' %></td>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
          </tbody>
        </table>
        </div>
        <div class="col-lg-12 new-btn" style="margin-bottom: 30px;">
        <a id="download" class="btn btn-success" style=""><i class="fa fa-download fa-fw"></i> Descargar PDF</a>
        <a class="btn btn-warning" style="" onclick="exportCSV()"><i class="fa fa-download fa-fw"></i> Descargar CSV</a>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://www.igniteui.com/js/external/FileSaver.js"></script>
<script src="http://www.igniteui.com/js/external/Blob.js"></script>
<script src="http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/infragistics.loader.js"></script>
<script>
  var colors =
      ["rgba(255,0,0,0.6)",
        "rgba(255,141,0,0.6)",
        "rgba(255,224,0,0.6)",
        "rgba(99,197,10,0.6)",
        "rgba(0,208,255,0.6)",
        "rgba(133,0,255,0.6)",
        "rgba(144,91,36,0.6)",
        "rgba(7,10,105,0.6)"
      ];
  <% @calendar.lessons.each do |lesson| %>
  var info = [
    "<b><%= lesson.period.n %></b>",
    "Período <%= lesson.period.n %>",
    "<%= lesson.shift.time %>"
  ];
  var professors = '';
  <% lesson.period.professors.each do |p| %>
  info.push('<%=p.name[0,1]%>. <%=p.surname%>');
  <% end %>
  info.push("Aula <%= lesson.room.name %>");
  <% index = @subjects.index(lesson.subject)
  shift = lesson.shift
  time_i = (shift.initial_hour * 1000) + shift.initial_minute
  time_f = (shift.final_hour * 1000) + shift.final_minute
  name_i = shift.day.id.to_s + ':' + time_i.to_s
  name_f = shift.day.id.to_s + ':' + time_f.to_s %>
  var a = document.getElementsByName('<%=name_i%>')[0];
  var c = colors[<%= index %>];
  a.style.backgroundColor = c;
  a.style.borderColor = c;
  a.innerHTML = "<%= lesson.name %>";
  var id = a.id;
  var d = id.split(":")[0];
  var t = id.split(":")[1];
  var go = true;
  var i = 0;
  while (go) {
    t++;
    i++;
    var b = document.getElementById(d+':'+t);
    var n = b.getAttribute("name");
    if (n == '<%=name_f%>') go = false;
    else {
      b.style.backgroundColor = c;
      b.style.borderColor = c;
      if (info[i] != undefined) b.innerHTML = info[i];
    }
  }
  <% end %>

  $(document).ready(function() {
    $('#dataTables-example').DataTable({
      responsive: true
    });
  });

  html2canvas($('#calendar'), {
    onrendered: function(canvas) {
      document.getElementById("download").href = canvas.toDataURL("image/png");
      document.getElementById("download").download = "horario.png";
    }
  });

  /*function exportCsv() {
    var blob = new Blob([document.getElementById('table-div').innerHTML], {
      type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
    });
    saveAs(blob, "Report.xls");
  }*/

  function process() {
    $("#processing")[0].hidden = false;
    $("#shade")[0].hidden = false;
  }
</script>

<script>
  var letters = {};
  letters[0] = "A";
  letters[1] = "B";
  letters[2] = "C";
  letters[3] = "D";
  letters[4] = "E";
  letters[5] = "F";
  $.ig.loader({
    scriptPath: "http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/",
    cssPath: "http://cdn-na.infragistics.com/igniteui/2016.2/latest/css/",
    resources: 'modules/infragistics.util.js,' +
    'modules/infragistics.documents.core.js,' +
    'modules/infragistics.excel.js'
  });

  function exportCSV() {
    var workbook = new $.ig.excel.Workbook($.ig.excel.WorkbookFormat.excel2007);
    var sheet = workbook.worksheets().add('Sheet1');
    sheet.columns(0).setWidth(50, $.ig.excel.WorksheetColumnWidthUnit.pixel);
    sheet.columns(1).setWidth(200, $.ig.excel.WorksheetColumnWidthUnit.pixel);
    sheet.columns(2).setWidth(200, $.ig.excel.WorksheetColumnWidthUnit.pixel);
    sheet.columns(3).setWidth(200, $.ig.excel.WorksheetColumnWidthUnit.pixel);
    sheet.columns(4).setWidth(200, $.ig.excel.WorksheetColumnWidthUnit.pixel);
    sheet.columns(5).setWidth(200, $.ig.excel.WorksheetColumnWidthUnit.pixel);
    var b1 = sheet.getCell('B1');
    var c1 = sheet.getCell('C1');
    var d1 = sheet.getCell('D1');
    var e1 = sheet.getCell('E1');
    var f1 = sheet.getCell('F1');
    b1.value('<%=$week[0].name%>');
    b1.cellFormat().alignment($.ig.excel.HorizontalCellAlignment.center);
    c1.value('<%=$week[1].name%>');
    c1.cellFormat().alignment($.ig.excel.HorizontalCellAlignment.center);
    d1.value('<%=$week[2].name%>');
    d1.cellFormat().alignment($.ig.excel.HorizontalCellAlignment.center);
    e1.value('<%=$week[3].name%>');
    e1.cellFormat().alignment($.ig.excel.HorizontalCellAlignment.center);
    f1.value('<%=$week[4].name%>');
    f1.cellFormat().alignment($.ig.excel.HorizontalCellAlignment.center);

    var timeCells = $(".time");
    for (var i=0; i<timeCells.length; i++) {
      var time = timeCells[i];
      sheet.getCell('A'+(i+2)).value(time.innerText);
    }

    for (var j=1; j<=<%=$week.size%>; j++) {
      for (var k=0; k<timeCells.length-1; k++) {
        var td = document.getElementById(j+":"+k);
        var value = td.innerText;
        var cell = sheet.getCell(letters[j]+(k+2));
        cell.value(value);
        cell.cellFormat().alignment($.ig.excel.HorizontalCellAlignment.center);
        if (td.style.backgroundColor != "") {
          cell.cellFormat().fill($.ig.excel.CellFill.createSolidFill(td.style.backgroundColor));
        }
      }
    }
    saveWorkbook(workbook, "horario.xlsx");
  }

  function saveWorkbook(workbook, name) {
    workbook.save({ type: 'blob' }, function (data) {
      saveAs(data, name);
    }, function (error) {
      alert('Error exporting: : ' + error);
    });
  }
</script>