<%= form_for(@subject) do |f| %>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <%= f.label :name, 'Nombre' %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group field col-lg-6" style="padding-left: 0">
          <label for="career_id">Carrera</label><br>
          <select name="career_id" id="career_id" class="form-control">
            <% @careers.each do |career| %>
                <% if !@new && @subject.career.id == career.id %>
                    <option value="<%=career.id%>" selected><%=career.name%></option>
                <% else %>
                    <option value="<%=career.id%>"><%=career.name%></option>
                <% end %>
            <% end %>
          </select>
        </div>
        <div class="form-group field col-lg-3" style="padding-left: 0">
          <%= f.label :year, 'Año' %><br>
          <%= f.number_field :year, class: 'form-control' %>
        </div>
        <div class="form-group field col-lg-3" style="padding: 0">
          <%= f.label :quarter, 'Cuatrimestre' %><br>
          <%= f.number_field :quarter, class: 'form-control' %>
        </div>
        <div class="form-group field col-lg-6" style="padding-left: 0">
          <label for="periods">Períodos</label><br>
          <select name="periods" id="periods" class="form-control" onchange="changePeriods()">
            <% for j in 1..4 do %>
                <% if !@new && @subject.periods.size == j %>
                    <option value="<%=j%>" selected><%=j%></option>
                <% else %>
                    <option value="<%=j%>"><%=j%></option>
                <% end %>
            <% end %>
          </select>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
      <% for k in 1..4 do %>
          <div class="panel panel-primary" id="<%=k%>_duration" hidden>
            <div class="panel-heading">Duración de Período <%=k%></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <% periods = @new ? nil : Period.where(commission_id: @subject.commissions[0].id, n: k) %>
                    <% period = periods.nil? ? nil : periods[0] %>
                    <% if period.nil? %>
                        <input type="number" name="hours_<%=k%>" id="hours_<%=k%>" class="form-control">
                    <% else %>
                        <input type="number" name="hours_<%=k%>" id="hours_<%=k%>" class="form-control" value="<%=period.hours%>">
                    <% end %>
                  </div>
                </div>
                <div class="col-lg-1">
                  hs.
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <select name="minutes_<%=k%>" id="minutes_<%=k%>" class="form-control">
                      <% for l in 0..3 do %>
                          <% n = l == 0 ? '00' : l*15 %>
                          <% if !@new && !period.nil? && period.minutes == l*15 %>
                              <option value="<%=l*15%>" selected><%=n%></option>
                          <% else %>
                              <option value="<%=l*15%>"><%=n%></option>
                          <% end %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  minutos.
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <div class="actions" style="text-align: right">
      <%= f.submit 'Guardar', class: 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">
  changePeriods();
  document.getElementById("subject_name").focus();
</script>