<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-lg-12">
    <% if @error %>
        <div class="alert alert-danger alert-dismissable" id="error_explanation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          Uno o más campos contienen errores
        </div>
    <% end %>
    <h1 class="page-header">
      <a href="/subjects" type="button" class="btn btn-default" style="display: inline-block; margin-right: 2em;">
        <i class="fa fa-chevron-left fa-fw"></i> Volver
      </a>
      Recursos: <%= @subject.name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form action="/subjects">
      <% @subject.periods.each do |p| %>
      <div class="panel panel-primary">
        <div class="panel-heading">Período <%= p.n %></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-1">
              <div class="form-group">
                <label>Recursos</label><br>
                <% @resources.each do |r| %>
                    <label class="checkbox-inline col-lg-4" style="margin: 0;">
                      <% if p.resources.include?(r) %>
                        <input type="checkbox" id="<%=p.n%>:<%=r.id%>_resource" onchange="updateJson()" checked><%=r.name%>
                      <% else %>
                        <input type="checkbox" id="<%=p.n%>:<%=r.id%>_resource" onchange="updateJson()"><%=r.name%>
                      <% end %>
                    </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <input type="text" name="json" id="json" hidden>
      <input type="text" name="id" id="id" value="<%= @subject.id %>" hidden>
      <div class="col-lg-12 new-btn">
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </form>
  </div>
</div>

<script>
  updateJson();
  function updateJson() {
    var map = {};
    <% @subject.periods.each do |p| %>
      <% @resources.each do |r| %>
        var checked = document.getElementById(<%=p.n%> +":" + <%=r.id%> +"_resource").checked;
        if (checked) {
          var value = map[<%=p.n%>];
          map[<%=p.n%>] = value == undefined ? "<%=r.id%>" : value + "," + <%=r.id%>;
        }
      <% end %>
    <% end %>
    var json = "";
    var keys = Object.keys(map);
    for (var i = 0; i < keys.length; i++) {
      var key = keys[i];
      json = (json == "" ? "" : json + ";") + key + ":" + map[key];
    }
    document.getElementById("json").value = json;
  }
</script>