<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-lg-12">
    <% if @error %>
        <div class="alert alert-danger" id="error_explanation">
          Uno o más campos contienen errores, o la materia está asociada a otras tablas
          <% if @subject.errors.any? %>
              <ul>
                <% @subject.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
          <% end %>
        </div>
    <% end %>
    <h1 class="page-header">
      <a href="/subjects" type="button" class="btn btn-default" style="display: inline-block; margin-right: 2em;">
        <i class="fa fa-chevron-left fa-fw"></i> Volver
      </a>
      <%= @subject.name %>
    </h1>
  </div>
</div>

<%= render 'form' %>