<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless notice.nil? %>
        <div class="alert alert-success alert-dismissable" id="error_explanation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <% unless alert.nil? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
    <h1 class="page-header">Materias</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="col-lg-12 new-btn">
        <a href="/subjects/new" type="button" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Nueva Materia</a>
      </div>
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Duración</th>
          <th>Carrera</th>
          <th>Año</th>
          <th>Profesores</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @subjects.each do |subject| %>
            <% professors = subject.periods[0].professors %>
            <% info = professors.empty? ? '-' : '' %>
            <% professors.each do |professor| %>
                <% info = info.empty? ? professor.full_name : info + ', ' + professor.full_name %>
            <% end %>
            <% minutes = subject.minutes > 0 ? subject.minutes.to_s : subject.minutes.to_s + '0' %>
            <tr class="odd gradeX">
              <td><%= subject.name %></td>
              <td><%= subject.hours.to_s + ':' + minutes %></td>
              <td><%= subject.career.name %></td>
              <td><%= subject.year %>º</td>
              <td><%= info %></td>
              <td>
                <a href="subjects/<%=subject.id%>/edit"><i class="fa fa-pencil-square-o fa-fw"></i> Editar</a>
                <a href="subjects/<%=subject.id%>/custom"><i class="fa fa-tv fa-fw"></i> Recursos</a>
                <a rel="nofollow" data-method="delete" href="/subjects/<%=subject.id%>"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<script>
  $(document).ready(function() {
    $('#dataTables-example').DataTable({
      responsive: true
    });
  });
</script>