<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless notice.nil? %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <% unless alert.nil? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
        </div>
    <% end %>
    <h1 class="page-header">Nuevo Horario de Cursada</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-8">
    <%= form_for(Lesson.new) do |f| %>
      <div class="form-group field col-lg-6">
        <label for="career_id">Carrera</label><br>
        <select name="career_id" id="career_id" class="form-control" onchange="selectCareer()">
          <% @careers.each do |career| %>
              <option value="<%=career.id%>"><%=career.name%></option>
          <% end %>
        </select>
      </div>
      <div class="form-group field col-lg-3">
        <label for="year">Año</label><br>
        <select name="year" id="year" class="form-control" disabled>
        </select>
      </div>
      <div class="form-group field col-lg-3">
        <label for="quarter">Cuatrimestre</label><br>
        <select name="quarter" id="quarter" class="form-control" disabled>
        </select>
      </div>
      <div class="actions" style="text-align: right">
        <button type="submit" name="commit" class="btn btn-success" onclick="process()"><i class="fa fa-plus fa-fw"></i> Nuevo Horario</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  selectCareer();
  function selectCareer() {
    var career = document.getElementById("career_id");
    var careerId = career.value;
    <% @careers.each do |career| %>
      if (careerId == <%=career.id%>) {
        var year = document.getElementById("year");
        var quarter = document.getElementById("quarter");
        year.disabled = false;
        quarter.disabled = false;
        for(var i = year.options.length - 1; i >= 0 ; i--) { year.remove(i); }
        for(var j = quarter.options.length - 1; j >= 0 ; j--) { quarter.remove(j); }
        <% career.years.each do |year| %>
          var yearOption = document.createElement("option");
          yearOption.value = <%=year.n%>;
          yearOption.text = <%=year.n%>;
          year.add(yearOption);
        <% end %>
        <% for q in 1..$quarters %>
          var quarterOption = document.createElement("option");
          quarterOption.value = <%=q%>;
          quarterOption.text = <%=q%>;
          quarter.add(quarterOption);
        <% end %>
      }
    <% end %>
  }

  function process() {
    $("#processing")[0].hidden = false;
    $("#shade")[0].hidden = false;
  }
</script>