<div class="row">
  <div class="col-lg-6">
    <%= form_for(@resource) do |f| %>
        <div class="form-group field">
          <%= f.label :name, 'Nombre' %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="actions" style="text-align: right">
          <%= f.submit 'Guardar', class: 'btn btn-success' %>
        </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById("resource_name").focus();
</script>