<div class="row">
  <div class="col-lg-6">
    <%= form_for(@room) do |f| %>
        <div class="form-group field">
          <%= f.label :name, 'Nombre' %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <% unless @resources.empty? %>
            <div class="form-group col-lg-12" style="padding: 0">
              <label>Recursos</label><br>
              <% @resources.each do |r| %>
                <label class="checkbox-inline col-lg-4" style="margin: 0;">
                  <input type="checkbox" id="<%=r.id%>_resource" onchange="selectResource()"><%=r.name%>
                </label>
              <% end %>
            </div>
        <% end %>
        <div class="actions" style="text-align: right">
          <%= f.submit 'Guardar', class: 'btn btn-success' %>
        </div>
        <input type="text" name="json" id="json" hidden>
  <% end %>
  </div>
</div>

<script>
  document.getElementById("room_name").focus();
  populate();
  function populate() {
    <% @room.resources.each do |r| %>
      document.getElementById(<%=r.id%> + "_resource").checked = true;
    <% end %>
    selectResource();
  }
  function selectResource() {
    var json = "";
    <% @resources.each do |r| %>
      var checked = document.getElementById(<%=r.id%> + "_resource").checked;
      if (checked) json = json == "" ? <%=r.id%> : json + "," + <%=r.id%>;
    <% end %>
    document.getElementById("json").value = json;
  }
</script>