<div class="row">
  <p></p>
  <div class="col-lg-12">
    <% unless notice.nil? %>
        <div class="alert alert-success alert-dismissable" id="error_explanation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <h1 class="page-header">Aulas</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="col-lg-12 new-btn">
        <a href="/rooms/new" type="button" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Nueva Aula</a>
      </div>
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Recursos</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @rooms.each do |room| %>
            <% resources = room.resources.empty? ? '-' : '' %>
            <% room.resources.each do |resource| %>
              <% resources = resources.empty? ? resource.name : resources + ', ' + resource.name %>
            <% end %>
            <tr class="odd gradeX">
              <td><%= room.name %></td>
              <td><%= resources %></td>
              <td>
                <a href="rooms/<%=room.id%>/edit"><i class="fa fa-pencil-square-o fa-fw"></i> Editar</a>
                <a rel="nofollow" data-method="delete" href="/rooms/<%=room.id%>"><i class="fa fa-trash fa-fw"></i> Eliminar</a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<script>
  $(document).ready(function() {
    $('#dataTables-example').DataTable({
      responsive: true
    });
  });
</script>