/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_sb_admin_base_v2
 *= require_tree .
 *= require_self
 */
/*require bootstrap_sb_admin_base_v2*/

.new-btn {
    text-align: right;
}

html, body, #wrapper, #page-wrapper {
    height: 100%;
}

#processing {
    position: fixed;
    width: 400px;
    margin-top: 300px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    z-index: 3000;
}

#shade {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 2000;
}

#login {
    position: fixed;
    width: 400px;
    margin-top: 100px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    z-index: 3000;
}