.menu {
    color: #1A908C;
}
.menu:hover, .menu:focus {
    color: #063D3B;
}
.text-success {
    color: #1A908C;
}
a {
    color: #da1919;
}
a:hover, a:focus {
    color: #B00C0C;
}
.btn-danger {
    background-color: #da1919;
    border-color: #da1919;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: #B00C0C;
    border-color: #B00C0C;
}
.text-danger {
    color: #da1919;
}
.btn-warning {
    background-color: #e47373;
    border-color: #e47373;
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #da1919;
    border-color: #da1919;
}
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning.focus,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover {
    background-color: #da1919;
    border-color: #da1919;
}
.btn-primary {
    background-color: #1A908C;
    border-color: #1A908C;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #063D3B;
    border-color: #063D3B;
}
.btn-success {
    background-color: #63A7AC;
    border-color: #63A7AC;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus {
    background-color: #1A908C;
    border-color: #1A908C;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
    background-color: #1A908C;
    border-color: #1A908C;
}
.pagination>li>a:hover {
    color: #63A7AC;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #63A7AC;
    border-color: #63A7AC;
}
.alert-danger {
    color: #B00C0C;
    background-color: rgba(218, 25, 25, 0.3);
    border-color: transparent;
}
.alert-success {
    color: #063D3B;
    background-color: rgba(81, 196, 142, 0.3);
    border-color: transparent;
}
.panel-primary>.panel-heading {
    background-color: #63A7AC;
    border-color: #63A7AC;
}